.button-custom {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: 1px solid #ff0055;
	border-radius: 4px;
	/* background-color: #ff0055 !important; */
	color: white !important;
	cursor: pointer;
	margin-right: 1rem;
	text-decoration: none;
	display: inline-block;
}

.button-custom:focus {
	outline: none;
}

.button-custom:hover,
.active {
	background-color: #ff4382 !important;
	border-color: #ff4382 !important;
}

.button--inverse {
	background-color: transparent;
	color: white;
}

.button--inverse:hover,
.button--inverse:active {
	color: white;
	background-color: #ff0055;
}

.button--danger {
	background: #830000;
	border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
	background-color: #f34343;
	border-color: #f34343;
	color : white;
}

.button-custom:disabled,
.button-custom:hover:disabled,
.button-custom:active:disabled {
	background-color: #ccc;
	color: #979797;
	border-color: #ccc;
	cursor: not-allowed;
}

.button--small {
	font-size: 0.8rem;
	padding: 0.25rem 1.25rem;
}

.button--big {
	font-size: 1.5rem;
}
.button-logout {
	padding: 2px 5px;
	border: solid 1px white;
	background-color: #000059;
	margin: 0;
	border-radius: 0%;
}
