.addProduct-section {
	margin-top: 40px;
	padding : 10px;
}

.addProduct-section-initial{
	margin-top: 40px;
	padding : 10px;
}

.addProduct-form {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}
.input-div {
	display: flex;
	padding: 5px;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.addProduct-input {
	max-width: 400px;
}

.button-div {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.StockList{
	display: grid;
	grid-template-columns: 5fr 2.25fr 2.25fr 0.5fr;
}
@media (min-width : 1024px){
	
	.StockShow{
		display: grid;
		grid-template-columns: 5fr 5fr;
	}

}

