.addProduct-section {
	margin-top: 40px;
	padding : 10px;
}

.addProduct-section-initial{
	margin-top: 40px;
	padding : 2%;
}

.addProduct-form {
	display: flex;
	flex-direction: column;
}
.input-div {
	display: flex;
	/* padding: 5px; */
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.input-div2 {
	display: flex;
	padding: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.addProduct-input {
	max-width: 400px;
	padding-left: 0px;
	padding-right: 0px;
}

.button-div {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.StockList{
	display: grid;
	grid-template-columns: 5fr 2.25fr 2.25fr 0.5fr;
}
@media (min-width : 1024px){
	
	.StockShow{
		display: grid;
		grid-template-columns: 5fr 5fr;
	}

}

