.header {
	display: flex;
	flex-direction: row;
	height: 7vh;
	background-color: #ff0055;
	color: white;
	font-size: medium;
	font-weight: 500;
	box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
	align-items: center;
	justify-content: space-between;
}
.header-value {
	margin-left: 20px;
}
