.row-container {
	width: 100%;
	display: grid;
	grid-template-columns: 10% 25% 25% 20% 20%;
}
.row-label {
	border: 1.5px solid grey;
	font-size: 14px;
	font-weight: 600;
	padding: 7px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.row-btn {
	width: 50%;
}
.odd {
	background-color: rgb(220, 233, 243);
}
